body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 20px 0;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.header-nav {
	display: flex;
}

.header-nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.header-nav-item:not(:last-of-type){
	margin-right: 20px;
}

.header-nav-link {
	padding: 7px 10px;
	text-decoration: none;
	color: black;
}